@media (max-width: 768px) {
    .flex-row {
      flex-direction: column-reverse;
    }
    .h-screen {
      align-items: center;
    }
    h1, p, h2 {
      text-align: center;
    }
  }

h1 {
    background-color: #420fe7;
    color: #ffffff;
    font-family: 'specter_trialblack', fallback;
    font-weight:normal;
    font-style:normal;
}

p {
    color: #d5d6f8;
    background: #420fe7;
    font-family: 'specter_trialregular', fallback;
    font-weight:normal;
    font-style:normal;
}

body {
    background-color: #420fe7;
}

h2 {
    background-color: #420fe7;
    color: #ffffff;
    font: 400 1.5rem/1.5 'rubikregular', sans-serif;
}


@font-face {
    font-family: 'specter_trialblack';
    src: url('../fonts/spectertrial-black-bf64ed585c11e27-webfont.woff2') format('woff2'),
         url('../fonts/spectertrial-black-bf64ed585c11e27-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'specter_trialregular';
    src: url('../fonts/spectertrial-regular-bf64ed585c0b037-webfont.woff2') format('woff2'),
         url('../fonts/spectertrial-regular-bf64ed585c0b037-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rubikregular';
    src: url('../fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

#line1 {
    margin-top: -20px;
}

.dot {
    height: 250px;
    width: 250px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
  }

.dotSm {
    height: 110px;
    width: 110px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    border: 10px solid #d5d6f8;
    transition: transform 0.3s ease-in-out;
    overflow:hidden;
}

.dotSm:hover {
    transform: scale(1.3);
}

.image-wrap {
    width: 500px;
    height: 300px;
    overflow: hidden;
    margin: 50px auto;
}
.image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    transition: all 3s linear;
    border: 10px solid #d5d6f8;
}
.image-wrap:hover img {
    object-position: bottom center;
}