@media (max-width: 768px) {
    #img-cont {
        margin: 0 1.5rem 0 1.5rem !important;
        margin-top: 0px!important;
    
  }

}

#img-cont {
    margin: 0 40px 0 40px;
    margin-top: 20px;
}